<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 6210</h1>
      <h2>Matrix Computations</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: Bard 140<br/>
        Lecture: TR 1:00-2:15
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
      <p>
        Prof: <a href="http://www.cs.cornell.edu/~bindel">David Bindel</a>
        (<a href="mailto:bindel@cornell.edu">bindel@cornell.edu</a>)<br/>
        OH: MW 3-4, Tue 2:30-3:30 (Gates 405), <a href="https://outlook.office365.com/owa/calendar/BindelOH@cornellprod.onmicrosoft.com/bookings/">or by appt</a>
      </p>
    </div>
    </div>
  </div>
</div>
